<html layout:decorator="layout">
    <div layout:fragment="content">
        <form method="post" id="book_form" action="/books/create">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" class="form-control" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea rows="5" name="description" id="description" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</html>
