<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <div layout:fragment="content">
        <a href="category/list" th:href="@{'/category'}" class="btn btn-default">
            <i class="glyphicon glyphicon-menu-left"></i>Back</a>

        <form method="post" th:object="${category}" th:action="@{/category}">
            <div class="form-group">
                <label class="control-label" for="title">Name</label>
                <input type="text" id="title" class="form-control" th:field="*{name}"/>
            </div>
            <input type="hidden" th:field="*{id}"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</html>